body {
    background: #180b54;
    font-family: Arial, Helvetica, sans-serif;
    color: #8be2f1;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;

    margin-top: 25px;
}

.nav-items {
    padding: 0px 18px;
}

.nav-items a {
    display: block;
    padding: 10px 18px;
    text-decoration: none;
    color: white;
}

.nav-items a:hover {
    background-color: grey;
}

.active {
    background-color: grey;
    opacity: 0.8;
}

div {
    margin: 8px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.field-style {
    background-color: black;
}

.legend {
    color: white;
}
